@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
.resp1 {
    width: 300px;
    height: 300px;
    background-color: aquamarine;
    font-size: x-large;
}

.resp2 {
    width: 300px;
    height: 300px;
    background-color: cornflowerblue;
    font-size: x-large;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: cadetblue;
}